<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song Selection</title>
    <link
      rel="stylesheet"
      href="{{  url_for('static', filename = 'style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
  </head>
  <body>
    <main>
      <section class="songs-container">
        {% for song in songs %}
        <div class="song-card" data-song-id="{{ song.id }}">
          <img
              src="{{ url_for('static', filename=song.icon) }}"
              alt="{{ song.composer }}"
              class="song-cover"
          />
          <div class="song-info">
              <span class="song-composer">{{ song.composer }}</span>
              <span class="song-title">{{ song.title }}</span>
          </div>
          <audio
              id="audio-{{ song.id }}"
              preload="metadata"
              controls
          >
            <source
                src="{{ url_for('static', filename=song.filepath) }}"
                type="audio/mpeg"
            />
            Your browser does not support the audio element.
          </audio>
        </div>
        {% endfor %}
    </section>
      </section>
      <form
        action="{{ url_for('main.success') }}"
        method="post"
      >
      <input
            type="text"
            class="username"
            placeholder="Enter your name"
            name="user"
            required
          />
        <input type="hidden" name="song_id" id="selected-song-id" required/>
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </main>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'script.js') }}"
    ></script>
  </body>
</html>
